html, body, #root, .App{
	margin: 0;
  	padding: 0;
    height:100vh; /* needed for container min-height */
    background-color: #eee;
    overflow-y: auto
}

* {
  box-sizing: border-box;
}

#mainWrap{
	min-height: calc(100vh - 3.25rem);
	padding: 20px;
	background-color: #FAFAFA;

	-webkit-box-shadow: 0px 0px 9px 3px #ccc; 
	box-shadow: 0px 0px 9px 3px #ccc;
}

